.container {
  position: absolute;
  height: 100%;
  display: flex;
}

.navigation {
  padding: 32px 16px;
  width: 150px;
  border-right: 1px solid #666;

  .item {
    display: block;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
}

.content {
  padding: 32px;
}
