$red: #c73036;

.container {
  position: absolute;
  height: 100%;
  display: flex;
}

.navigation {
  padding: 54px 16px;
  width: 150px;
  border-right: 1px solid #999;

  .item {
    display: block;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
}

.content {
  padding: 32px;
  max-width: 680px;
}

.postcard-image {
  border: 10px solid #ffefef;
}

// Type
h1 {
  color: #333333;
  font-family: 'Bitter', serif;
  font-size: 50px;
  font-weight: normal;
  line-height: 54px;
  margin: 0 0 54px;
}

h2 {
  color: #333333;
  font-family: 'Bitter', serif;
  font-size: 26px;
  font-weight: normal;
  line-height: 26px;
  margin: 42px 0;
}

p {
  color: #333333;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px;
}

p:first-of-type::first-letter {
  font-size: 26px;
}

a {
  color: $red;
  font-family: Georgia, serif;
  text-decoration: underline;
}

a:hover {
  color: #333333;
  text-decoration: underline;
}

a.active, a.active:hover {
  text-decoration: none;
  cursor: default;
  color: #666;
}

time {
  font-weight: 600;
  font-style: italic;
}

.subtext {
  font-size: 14px;
}
